@{
    ViewData["Title"] = "About";
}
<h2> @ViewData["Title"] </h2>
<h3> @ViewData["Message"] </h3>

<p>Desenvolvedor @ViewData["Desenvolvedor"]</p>
<address>
    <strong>More information: </strong> <a href="https://github.com/Igor-Andrade-Silva?tab=repositories">My GitHub</a>
</address>
